<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>

<aside>
    <div>
        <a th:href="@{/categoria/registrar}"><img src="" alt=""> Registrar Categoría</a>
        <a th:href="@{/suculenta/registrar}"><img src="" alt=""> Registrar Suculenta</a>
        <a th:href="@{/suculenta/listar}"><img src="" alt=""> Listar Suculentas</a>
        <a href=""><img src="" alt=""> Registrar Proveedor</a>
        <a href=""><img src="" alt=""> Registrar Usuario</a>
    </div>

</aside>



</body>
</html>