<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Listar Suculentas</title>
    <link rel="stylesheet" href="/css/listarSuculentas.css">
</head>
<body>
<!--CONTENEDOR GENERAL-->
<div class="contenedor">
    <!--BARRA LATERAL IZQUIERDA-->
    <aside th:replace="/fragments/frag :: aside"></aside>
    <!--CONTENEDOR TABLA-->
    <div class="contenedor__listado">
         <!--TABLA-->
         <table class="tabla">
             <thead>
             <tr>
                 <th>Nombre</th>
                 <th>Descripción</th>
                 <th>Precio</th>
                 <th>Stock</th>
                 <th>Categoría</th>
                 <th>Imagen</th>
                 <th>Tamaño</th>
                 <th>Cuidados</th>
                 <th>Floración</th>
                 <th>Altura Max</th>
                 <th>Disponibilidad</th>
                 <th>Fecha Ingreso</th>
                 <th>Estado</th>
                 <th>Editar</th>
             </tr>
             </thead>
             <tbody th:each="suculenta : ${listaSuculentas}">
             <tr>
                 <td th:text="${suculenta.nombre}"></td>
                 <td th:text="${suculenta.descripcion}"></td>
                 <td th:text="${'$ '+suculenta.precio}"></td>
                 <td th:text="${suculenta.stock}"></td>
                 <td th:text="${suculenta.categoria.nombreCategoria}"></td>
                 <td><img id="imagenSuculenta" th:src="@{/imagen/carga/__${suculenta.imagen.idImagen}__}" alt="Imagen de Suculenta" th:title="${suculenta.imagen.nombre}"></td>
                 <td th:text="${suculenta.tamanio + ' Cm'}"></td>
                 <td th:text="${suculenta.cuidados}"></td>
                 <td th:text="${suculenta.floracion}"></td>
                 <td th:text="${suculenta.alturaMax}"></td>
                 <td th:text="${suculenta.disponibilidad ? 'Si':'No'}"></td>
                 <td th:text="${suculenta.fechaAlta}"></td>
                 <td th:text="${suculenta.estado} ? 'Activo':'Desactivado'"></td>
                 <td><a th:href="@{/suculenta/editar/__${suculenta.idSuculenta}__}">Editar</a></td>
             </tr>
             </tbody>
         </table>
     </div>
    </div>
</div>
</body>
</html>