<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Proveedor</title>
</head>
<body>
<!--CONTENEDOR GENERAL-->
<div class="contenedor">
    <!--BARRA LATERAL IZQUIERDA-->
    <aside th:replace="/fragments/frag :: aside"></aside>
    <!--CONTENEDOR TABLA-->
    <div class="contenedor__tabla">
        <!--TABLA-->
        <table>
            <thead>
            <tr>
                <th>Categoria</th>
                <th>Estado</th>
                <th>Edición</th>
                <!--<th>Activar</th>
                <th>Desactivar</th>-->
            </tr>
            </thead>
            <tbody th:each="categoria : ${lista}">
            <tr>
                <td th:text="${categoria.nombreCategoria}"></td>
                <td th:text="${categoria.estado} ? 'Activo':'Desactivado'"></td>
                <td><a th:href="@{/categoria/editar/__${categoria.idCategoria}__}">Editar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>